 body {
    background-color: white;
  }

  .center {
    border-radius: 20px;
    object-fit: fill;
    background-color: rgb(230, 247, 253);
    border: 3px solid darkblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
    /* optional size in px or %: */
    width: 450px;
    height: 200px;
    padding: 20px;
  }

  .loginImage {
    width:100px;
    height:100px;
    object-fit: fill;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
  }
