 body {
    background-color: white;
  }

  .center {
    border-radius: 20px;
    object-fit: fill;
    background-color: rgb(230, 247, 253);
    border: 3px solid darkblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
    /* optional size in px or %: */
    width: 450px;
    height: 200px;
    padding: 20px;
  }

  .loginImage {
    width:100px;
    height:100px;
    object-fit: fill;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
  }

  .navbar {
    background-color: #060b26;
    height: 50px;
    display: flex;
    /* justify-content: right; */
    /*   align-items: center;
   */
  }
  
  .index-front-languagesLogin {
    position: absolute;
    z-index: 1000222;
    cursor: pointer;
    width: 150px;
    height: 170px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: white;
    top: 40px;
    left: 0px;
    -webkit-box-shadow: -11px 11px 6px 1px rgba(0, 0, 0, 0.13);
    box-shadow: -11px 11px 6px 1px rgba(0, 0, 0, 0.13);
  }

  .textSigra {
    margin-left: 5px;
    margin-top: 15px;
    /* position: relative; */
    z-index: 10;
    color: white;
    font-size: 9px;
    display: flex;
    text-align: center;
  }
  
  .topbarIconContainerLogin {
    margin-left: 40px;
    position: relative;
    z-index: 11;
    cursor: pointer;
    color: white;
  }

  .rows .row {
    display: inline-block;
    height: 40px;
    /* flex:1;
     justify-content: space-between */
 }
