.App {
  overflow-x: hidden;
}

.menuItemssytle .a-style {
font-size:13px;
font-weight: 600;
color:lightgray;
}

.icon-menu-item {
margin-right: 5px;
font-size: 25px !important;  /* !important est utilisé pour reduire la taille de Icon*/
vertical-align: middle;
}

.sidebarListItem {
margin-top: 5px;
cursor: pointer;
display: flex;  /* pour centraliser l'element, est suivi de align...*/
align-items: center;
border-radius: 10px;
font-size: 14px;
color: grey;
}
.sidebarListItem.active, .sidebarListItem:hover{
 background-color: rgb(184, 222, 236);
}

.link {
text-decoration: none;
color: inherit;
}

.menuItemssytle {
list-style:none;
cursor: pointer;
position: relative;
z-index: 100;
}

.menuItemssytle .a-style {
font-size:13px;
font-weight: 600;
color:lightgray
}

.container {
display: flex;
margin-top: 10px;
}
.sub-menus {
margin: -5px 0 0 0;
}

.button {
display:inline-block;
width: 150px;
border-radius: 10px;
height: 40px;
padding: 10px;
margin-left: 10px;
}

.textField-TextLarge {
max-width: 400px;
width: 65%;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
font-weight: bold !important;
}
.select-button {
max-width: 400px;
width: 270px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
}
.select-buttonSmall {
max-width: 400px;
width: 145px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
font-size: 12px !important;
}
.select-buttonLarge {
max-width: 400px;
width: 300px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
}
.select-buttonLarge11 {
  max-width: 400px;
  width: 290px;
  margin-top: 5px;
  max-height: 30px;
  height: 30px;
  padding-bottom: 4px; 
  border-radius: 20px;
  object-fit: cover;
  }
  .select-buttonLarge12 {
    max-width: 400px;
    width: 230px;
    margin-top: 5px;
    max-height: 30px;
    height: 30px;
    padding-bottom: 4px; 
    border-radius: 20px;
    object-fit: cover;
    }
.select-buttonLarge2 {
max-width: 400px;
width: 260px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
}
.radio-button {
max-width: 400px;
width: 350px;
margin-bottom: 15px;
margin-top: 0px;
font-size: 10px;

max-height: 30px;
height: 30px;
padding-bottom: 4px; 
border-radius: 20px;
object-fit: cover;
}
.radio-button-large {
margin-right: 130px !important;
font-size: 10px;
}

.textField-TextLarge-1 {
max-width: 400px;
width: 340px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: 5px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
}
.textField-TextLarge-2 {
max-width: 400px;
width: 240px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: 5px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
}
.textField-TextLarge-3{
max-width: 400px;
width: 180px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: -15px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
}
.textField-TextLarge-33{
max-width: 400px;
width: 230px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: -15px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
}
.textField-TextLarge-4{
max-width: 400px;
width: 210px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: 5px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
font-size: 14px !important;
font-family: 'Times New Roman', Times, serif;
}
.textField-TextLarge-5{
max-width: 400px;
width: 230px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: -15px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px !important; 
}

.textField-TextLarge-6{
max-width: 400px;
width: 210px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: -15px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px !important; 
}

.textField-TextLarge-7{
max-width: 400px;
width: 70px;
max-height: 30px;
height: 30px;
padding-bottom: 4px; 
margin-top: -15px;
border-radius: 20px;
object-fit: cover;
margin-left: -30px;
}
.textArea-TextLarge-1{
max-width: 350px;
width: 330px;
max-height: 130px;
height: 130px;
padding-bottom: 4px; 
margin-top: -15px;
margin-left: -30px;
}
.textArea-TextLarge-2{
max-width: 350px;
width: 355px;
max-height: 130px;
height: 130px;
padding-bottom: 4px; 
margin-top: -15px;
margin-left: -30px;
border-radius: 5px;
object-fit: cover;
}

.pageHeaderImageRight{
-webkit-box-shadow: -11px 11px 6px 1px rgba(0,0,0,0.13); 
box-shadow: -11px 11px 6px 3px rgba(0,0,0,0.13);
height: 100px;
display: flex; 
width: auto;
margin-left:660px;
margin-top: -100px;
margin-bottom: 25px;
}

.inputLabel {
font-size: 14px;
font-style: normal;
font-weight: bold;
margin-top: 10px;
}

.inputLabel-2 {
font-size: 12px;
font-style: normal;
font-weight: bold;
margin-top: 0px;
margin-left: -20px;
}

label{
clear: both;
float: left;
margin-bottom: 10px;
width: 100px;
}

button {
align-content: left;
padding-left: 0px;
}

.ButtonStatutDataGrid {
padding: 5px 7px;
border: none;
border-radius: 30px;
width: 80px;
display: flex;
justify-content: center;
}
.ButtonStatutDataGrid.Actif {
  background-color: lightblue;
  font-weight: 600;
  }

.ButtonStatutDataGrid.Active {
background-color: lightblue;
font-weight: 600;
}
.ButtonStatutDataGrid.Inactive {
background-color: rgb(250, 188, 188);
font-weight: 300;
}
.ButtonStatutDataGrid.Pendente {
background-color: rgb(152, 138, 236);
font-weight: 300;
}

.buttonEditDataGrid {
border: none;
border-radius: 10px;
padding: 5px 10px;
background-color: green;
color: white;
cursor: pointer;
margin-right: 20px;
}
.buttonDeleteDataGrid {
color: red;
cursor: pointer;
}

.utilisateurButtonEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.utilisateurButtonDelete {
  color: red;
  cursor: pointer;
}

.ButtonStatut {
  padding: 5px 7px;
  border: none;
  border-radius: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
}

.ButtonStatut.Actif {
  background-color: lightblue;
  font-weight: 600;
}
.ButtonStatut.Desactivé {
  background-color: lightcoral;
  font-weight: 300;
}

.ButtonStatutDataGrid._1 {
  background-color: lightblue;
  font-weight: 600;
}
.ButtonStatutDataGrid._2 {
  background-color: rgb(250, 188, 188);
  font-weight: 300;
}
.ButtonStatutDataGrid._3 {
  background-color: rgb(152, 138, 236);
  font-weight: 300;
}
.ButtonStatutDataGrid._4 {
  background-color: black;
  color: white;
  font-weight: 300;
  text-decoration: line-through;
}

.ButtonStatutDataGrid._1Denuncia {
  background-color: #f8d210;
  font-weight: 600;
}
.ButtonStatutDataGrid._2Denuncia {
  background-color: #BACC81;
  font-weight: 600;
}
.ButtonStatutDataGrid._3Denuncia {
  background-color: #32CD30;
  font-weight: 600;
}
.ButtonStatutDataGrid._4Denuncia {
  background-color: black;
  color: white;
  font-weight: 600;
  text-decoration: line-through;
}

